# Default ignored files
/.idea
/.gradle
/BurnfdsKit.iml
/burnfdskit/burnfdskit.iml
/build
/release
/burnfdskit/gradle.properties
/local.properties
/burnfdskit/build/
/burnfdskit/debug/
/burnfdskit/release/
